.banner .banner-text h5 {
    font-size: 3.5vw;
}

.banner .banner-text p {
    font-size: 1.5vw;
}

.darkened-img img {
    filter: brightness(50%);
}


.fa-star{
    color: #FBBF24;
}

.cd-body-color {
    background-color: #F4FAFD;
}

.effect {
    background-color: white;
    color: #0275d8;
}

.effect:hover {
    transform: scale(1.2);
    background-color: white;
    color: #0275d8;
}

@media screen and (max-width:768px) {
    .company{
        display: none;
    }
}